figure:has(audio-custom-element) {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    figcaption {
        margin-block-end: 8px;
        text-align: center;
    }
}

audio-custom-element {
    position: relative;
    display: flex;
    gap: 6px;
    padding: 8px;
    padding-inline-end: 16px;

    --primary-foreground: hsl(14, 11%, 23%);

    &:after {
        pointer-events: none;
        position: absolute;
        content: '';
        inset: 0;
        border: 2px solid var(--primary-foreground);
        border-radius: 6px;
        filter: url(/src/pencil-filter.svg#PencilTexture);
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        flex-grow: 1;
        min-width: 0;
        filter: url(/src/pencil-filter.svg#PencilTexture);
        &::-moz-range-track {
            background: var(--primary-foreground);
        }
        &::-webkit-slider-runnable-track {
            background: var(--primary-foreground);
            height: 2px;
        }
        &::-moz-range-thumb {
            background-color: var(--primary-foreground);
            width: 8px;
            height: 8px;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            background-color: var(--primary-foreground);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-top: -3px;
        }
    }

    button {
        background: transparent;
        border: none;
        padding: 0;
        display: flex;
        cursor: pointer;
        color: var(--primary-foreground);
        transition: transform 150ms cubic-bezier(0.176, 1.084, 0.894, 0.997);

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.98);
            opacity: 80%;
        }

        & svg {
            pointer-events: none;
            filter: url(/src/pencil-filter.svg#PencilTexture);
        }
    }
}